* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_100.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_300.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_500.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_500.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_700.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_900.otf") format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_100_italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_300_italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_500_italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_700_italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/Museo_Sans_900_italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "MuseoSans", sans-serif;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  max-width: 100%;
  max-height: 100%;
}
@page {
  size: 8.56cm 5.398cm;
}
section {
  page-break-after: always;
  break-after: page;
}
button {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  padding: 0.5em 1em;
  background-color: #243e85;
  color: white;
  border: none;
  cursor: pointer;
}
@media print {
  button {
    display: none;
  }
  section {
    /* margin-left: -0.468mm; */
    /*margin-left: -1.875px;*/
    /* margin-left: -0.475mm; */
  }
}

.id-card {
  width: 8.56cm;
  height: 5.398cm;
  float: left;
  font-size: 12px;
  font-family: "MuseoSans", sans-serif;
  -webkit-print-color-adjust: exact;
  border: none;
  print-color-adjust: exact;
}
.id-card.front {
  background-color: #fff;
  position: relative;
}

.id-card.back {
  background-color: #fff;
  position: relative;
}

.id-card.front .head,
.id-card.back .head {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.id-card.front .head .topbar {
  width: 100%;
  height: 10%;
  background-color: #243e85;
}

.id-card.front .head .titlebar,
.id-card.back .head .titlebar {
  width: 100%;
  height: 90%;
  padding: 2mm 3mm;
  background-color: #008fd5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.id-card.back .head .titlebar {
  height: 100%;
  background-color: #fff;
}

.id-card.front .head .titlebar .logo,
.id-card.back .head .titlebar .logo {
  height: 100%;
}

.id-card.front .head .titlebar .logo img,
.id-card.back .head .titlebar .logo img {
  height: 100%;
}
.id-card.back .head .titlebar .logo {
  height: 100%;
  padding: 0.5mm 0;
}

.id-card.front .head .titlebar .title {
  height: 100%;
  display: flex;
  align-items: center;
}

.id-card.front .head .titlebar .title h2 {
  color: white;
  font-family: "MuseoSans", sans-serif;
  font-weight: 900;
  font-size: 5.25mm;
}
.id-card.front .body,
.id-card.back .body {
  padding: 3mm;
  display: flex;
  height: 72.5%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.id-card.front .body .bg-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.id-card.front .body .bg-logo img {
  height: calc(100% - 3mm);
}
.id-card.front .bottombar,
.id-card.back .bottombar {
  height: 2.5%;
  width: 100%;
  background-color: #e2a653;
}

.id-card.front .body .left {
  height: 100%;
  width: 27mm;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  border: 0.25mm solid #000;
  border-radius: 0.25mm;
  overflow: hidden;
}
.id-card.front .body .left .photo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.id-card.front .body .left .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.id-card.front .body .right {
  height: 100%;
  width: calc(100% - 27mm);
  padding-left: 3mm;
  z-index: 2;
}

.id-card.front .body .right .details {
  font-size: 2mm;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.5mm;
}
.id-card.front .body .right .details .detatil-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.75mm;
}
.id-card.front .body .right .details .detatil-sec > div span {
  font-size: 2mm;
  font-weight: 600;
  line-height: 2mm;
}
.id-card.front .body .right .details .name h2 {
  font-size: 4mm;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 4mm;
  width: 100%;
  overflow-wrap: break-word;
}

.id-card.front .body .right .details .detatil-sec.dates {
  flex-direction: row;
}
.id-card.front .body .right .details .detatil-sec.dates .date {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 0.75mm;
}

.id-card.back .head .titlebar .address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5mm;
}
.id-card.back .head .titlebar .address h3 {
  font-size: 2mm;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #1b91d0;
  line-height: 3mm;
}
.id-card.back .head .titlebar .address p {
  font-size: 1.75mm;
  font-weight: 500;
  color: #1b91d0;
  margin: 0;
  padding: 0;
  line-height: 1.75mm;
}
.id-card.back .body {
  padding-top: 0;
  padding-bottom: 0;
  flex-direction: column;
  background-color: #1b91d00d;
  /* background-color: #F3F9FD; */
}
.id-card.back .body .upper {
  height: calc(100% - 4mm);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.id-card.back .body .upper .left {
  width: calc(100% - 20mm);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.id-card.back .body .upper .left .top {
  width: 100%;
  height: 50%;
  padding-right: 3mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1mm;
}
.id-card.back .body .upper .left .bottom {
  width: 100%;
  padding-right: 3mm;
  height: 50%;
  display: flex;
  justify-content: center;
  column-gap: 3mm;
}
.id-card.back .body .upper .left .bottom .signbox {
  width: calc(50% - 1.5mm);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1mm;
}
.id-card.back .body .upper .left .bottom .box {
  width: 100%;
  height: 12mm;
  border: 0.2mm solid #000;
  border-radius: 1mm;
}
.id-card.back .body .upper .left .bottom span {
  font-size: 1.8mm;
  font-weight: 600;
}

.id-card.back .body .upper .left .top .title,
.id-card.back .body .upper .left .top .desc {
  width: 100%;
}
.id-card.back .body .upper .left .top .title h4 {
  width: 100%;
  font-size: 3.75mm;
}

.id-card.back .body .upper .left .top .desc p {
  width: 100%;
  font-size: 2.75mm;
  font-weight: 500;
  line-height: 3.5mm;
}
.id-card.back .body .upper .right {
  width: 20mm;
  display: flex;
  align-items: center;
  justify-content: center;
}
.id-card.back .body .upper .right .qrcode {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.id-card.back .body .upper .right .qrcode svg {
  width: 20mm;
}

.id-card.back .body .lower {
  height: 4mm;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.id-card.back .body .lower .cont {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 2.5mm;
}
.id-card.back .body .lower .cont .item {
  display: flex;
  align-items: center;
  column-gap: 0.85mm;
  height: 100%;
}
.id-card.back .body .lower .cont .item .ico {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.id-card.back .body .lower .cont .item .ico svg {
  height: 1.75mm;
  overflow: visible;
}
.id-card.back .body .lower .cont .item span,
.id-card.back .body .lower .cont .item .ico {
  font-size: 1.75mm;
  font-weight: 600;
}

.id-card.back .body .lower .cont .item.web span {
  font-weight: 800;
}
