.form{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    max-width: 500px;
    width: 100%;
    background-color: var(--gray3);
    padding: 1rem;
    border-radius: var(--br8);
}

.form form h2{
    font-weight: 500;
    font-size: 2rem;
}
.form form .form-input{
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form form .form-input input, .form form .form-input button, .form form .form-input select, .form form .form-input select option{
    width: 100%;
    background-color: var(--gray5);
    text-align: center;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1.4rem;
    height: 50px;
    border-radius: var(--br8);
}

.form form .form-input input::placeholder,  .form form .form-input select{
    color: var(--gray9);
}

.form form .form-input select option{
    height: 50px;
    border-radius: 25px;
}

.form form .form-input button{
    background-color: var(--bluein);
    color: var(--grayf);
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    color: var(--grayf);
    font-size: 1.5rem;
}

.form form .form-input button:hover{
    background-color: var(--grayd);
    color: var(--gray3);
    
}