@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root {
    /* colors */
    --ice-blue: #2222ff;
    --second-color: #ff2222; 
    --white: #ffffff;
    --gray:#303030;
    --light-gray:#505050;
    /* Margins */
    --margin-desk:5rem;
    --margin-tab:3rem;
    --margin-mob:1rem;

    /* font sizes */
    --font-05:0.5rem;
    --font-10:1rem;
    --font-15:1.5rem;
    --font-20:2rem;
    --font-25:2.5rem;



    /* Padding */
    --padding-nav:0 5rem;
    --padding-desk:2rem 5rem;
    --padding-tab:2rem 3rem;
    --padding-mob:1rem 1rem;
  }


@media (max-width:768px) {
    footer .contact{
        flex-direction: column;
    }
    footer .contact div{
        width: 100%;
    }
    footer .feedback{
        padding: var(--padding-tab);
    }

    :root {
        --padding-nav:0 1rem;
        --padding-desk:2rem 1rem;
        --padding-tab:2rem 3rem;
        --padding-mob:1rem 1rem;

        --font-05:0.5rem;
        --font-10:0.75rem;
        --font-15:1rem;
        --font-20:1.25rem;
        --font-25:1.75rem;
      }

}

section{
    overflow: hidden;
    padding: var(--padding-desk);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

section h2{
    font-size: var(--font-20);
    font-weight: 500;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color:var(--ice-blue);
}
a:hover{
    color:var(--second-color);
}
button{
    background-color: var(--ice-blue);
    border: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.5rem;
    font-size: var(--font-15);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
button:hover{
    background-color:var(--second-color);
}


/* ===== Nav bar ===== */
nav{
    /* background-color: #fff; */
    z-index: 99999;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-nav);
    transition: all ease 0.3s;

}
.scroll-nav{
    background-color: #fff;
    transition: all ease 0.3s;
    border-bottom: 1px solid #0003;

}
.scroll-nav{
    background-color: #fff;
    transition: all ease 0.3s;
    border-bottom: 1px solid #0003;

}

nav .left{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;

}
nav .left img{
    height: 80px;
}
nav .left h2{
    font-size: var(--font-20);
    color: #fff;
}
nav.scroll-nav .left h2{
    font-size: var(--font-20);
    color: var(--ice-blue);
}
nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
nav .right ul{
    transition: all ease 0.3s;
    list-style: none;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
nav .right ul a:hover li{
    color:var(--second-color);
    transition: all ease-in-out 0.5s;
}
nav .right ul li{
    color:#fff;
    font-size: var(--font-15);
    font-weight: 500;
    /* display: flex; */
    column-gap: 1rem;
    transition: all ease-in-out 0.5s;
}
nav.scroll-nav .right ul li{
    color:var(--ice-blue);
}
nav .right a button{
    background-color: var(--ice-blue);
    border: none;
    border-radius: 1.5rem;
    padding: 0.4rem 1.5rem;
    font-size: var(--font-15);
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
nav .right a:hover button{
    background-color:var(--second-color);
    transition: all ease-in-out 0.5s;
}


/* Hamburger */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--ice-blue);
    border-radius: 1px;


    
}

@media (max-width:768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    nav .right ul{
        z-index: -3;
        position: fixed;
        flex-direction: column;
        background-color: #ccfa;
        width: 100%;
        /* margin-top: 210px; */
        /* padding: 10px; */
        left: -100%;
        top:80px;
        /* height: 0px; */
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    nav .right ul li{
        z-index: -4;
        
    }
    .scroll-nav .right ul{
        background-color: #fff;
        transition: all ease 0.3s;
    }
    nav .right ul.active{
        padding: 10px;
        left: 0;
        top:80px;
        /* height: inherit; */
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
}
