.cartsection{
    width: 100%;
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    flex-direction: column;
}
.cartsection .cart-itembox .ctitle{
    width: 100%;
    text-align: center;
    padding: 0 0 10px 0;
}
.cart-itembox{
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 0 28px -5px #0004;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cartitem-up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item-details{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}
.item-details ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.item-details .funbtn{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    padding: 10px 0;
    justify-content: space-between;
    column-gap: 10px;
}

.item-details .funbtn a img{
    width: 35px;
}
.item-details .funbtn a{
    cursor: pointer;
    /* max-width: 65px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 5px;
    background-color: gray;


}
.item-details .funbtn .hurtbtn.active{
    background-color: magenta;

}

.itemimage{
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
}
.itemimage a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.item-details .backbtn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 45px;
}

.item-details .backbtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #28B463;
    max-width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 8px;
}
.item-details .backbtn a img{
    height: 40px;
}

.cart-desc{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
}
.cart-desc p{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    row-gap: 5px;
    max-width: 600px;
}



/* ================================== */
.popupview{
    padding: 0;
    margin: 0;
    background-color: #0004;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    overflow: auto;
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
.popupview .popcontent .close{
    /* position: absolute; */
    color: #aaaaaa;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.popupview .popcontent .imgslider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.popupview .popcontent{
    background-color: #fff;
    max-width: 500px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}
.popupview .popcontent .close:hover, .popupview .popcontent .close:focus{
    color: #fff;
    background-color: #f00;
    text-decoration: none;
    cursor: pointer;
}

#poploader{
    display: none;
}




/* ================================== */





@media screen and (max-width: 768px) {
    .cartitem-up{
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    .item-details{
        align-items: center;
        justify-content: center;
    }
    .item-details .backbtn{
        align-items: center;
        justify-content: center;
    }

    
.cart-desc{
    text-align: center;
    padding-top: 10px;
    max-width: 500px;
}

.cartsection{
    padding: 20px;
}
}

@media screen and (max-width: 550px) {
    
.cart-desc{
    text-align: center;
    padding-top: 10px;
    max-width: 500px;
}

.cartsection{
    padding: 20px;
}
}