.cartsec{
    width: 100%;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
}

.cartsec .leftbox, .cartsec .rightbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 28px -5px #0004;
    border-radius: 8px;
    overflow: hidden;
    
}

.cartsec .leftbox{
    max-width: 650px;
    width: 100%;
}
.cartsec .leftbox .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}
.cartsec .leftbox .heading div{
    width: calc(50%/3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartsec .leftbox .heading div.product{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftbox .cartform{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 1px solid #000;
}
.leftbox .cartform .itembox{
    width: 100%;
    max-width: 650px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 100%;
}
.leftbox .cartform .itembox div{
    width: calc(50%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.1rem;
}
.leftbox .cartform .itembox div.itemimg, .leftbox .cartform .itembox div.itemtitle{
    width: calc(50%/2);
}

.leftbox .cartform .itembox div.itemimg{
    padding: 10px;
}
.leftbox .cartform .itembox div.sbtotal{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    height: 35px;
}
.leftbox .cartform .itembox div.sbtotal .itemdelete{
    position: absolute;
    right: -10px;
    width: 35px;
    height: 35px;
}
.leftbox .cartform .itembox div.sbtotal span.cartdelbtn{
    border: none;
    z-index: 900;
    cursor: pointer;
    background-color: red;
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftbox .cartform .itembox span.noitem{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    background-color: #FADBD8;
    /* color: red; */
    padding: 1rem 0;
    
}

.leftbox .cartform .itembox div.itemtitle{
    text-align: left;
    font-weight: normal;
    justify-content: flex-start;
}

.leftbox .cartform .itembox .calcbox{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.leftbox .cartform .itembox .calcbox span, .leftbox .cartform .itembox .calcbox button, .cartsec .rightbox .coupon input, .cartsec .rightbox .coupon button, .cartsec .rightbox .checkout a span{
    width: 100%;
    height: 40px;
    font-weight: normal;
    font-size: 1.05rem;
    text-align: center;
    border-radius: 4px;
}
.leftbox .cartform .itembox .calcbox button, .cartsec .rightbox .coupon button, .cartsec .rightbox .checkout a span{
    background-color: #28B463;
    border: none;
    font-weight: bold;
    outline: none;
    color: #fff;
    cursor: pointer;
    
}
.leftbox .cartform .itembox .calcbox div.qty{
    min-width: 100px;
    background-color: gray;
    border: 2px solid gray;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    align-items: center;justify-content: space-between;
}
.leftbox .cartform .itembox .calcbox div.qty span.qtydec, .leftbox .cartform .itembox .calcbox div.qty span.qtyinc{
    width: 50px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 0;
}
.leftbox .cartform .itembox .calcbox div.qty input.qtyval{
    width: 100%;
    min-height: 100%;
    height: 36px !important;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    border-radius: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: px; */
    font-weight: 600;
    outline: none;
    font-size: 1.1rem;
}

.leftbox .cartform .itembox .calcbox div.qty input.qtyval::-webkit-outer-spin-button,
.leftbox .cartform .itembox .calcbox div.qty input.qtyval::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cartsec .rightbox{
    padding: 10px;
    width: 100%;
    max-width: 400px;
    
}

.cartsec .rightbox .boxheading{
    padding: 0 0 10px 0;
    text-align: center;
}
.cartsec .rightbox .subtotal, .cartsec .rightbox .total{
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}
.cartsec .rightbox .subtotal{
    border-bottom: 2px solid #000;
}

.cartsec .rightbox .coupon{
    padding: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
}

.cartsec .rightbox .checkout, .cartsec .rightbox .checkout a, .cartsec .rightbox .checkout a span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backbtn{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
}
.backbtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: #28B463;
    max-width: 80px;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
}

.backbtn a img{
   height: 30px
}
@media screen and (max-width: 1000px) {
    .cartsec{
        flex-direction: column;
        row-gap: 30px;
    }
    
.cartsec .rightbox{
    padding: 10px 20px;
    width: 100%;
    max-width: 650px;
    
}
}
@media screen and (max-width: 600px) {
    .leftbox .cartform .itembox{
        width: 100%;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .cartsec .leftbox{
        width: 100%;
    }
    .cartsec .leftbox .heading{
        display: none;
    }

    .leftbox .cartform div{
        width: 100% !important;
        text-align: center;
    }

    .leftbox .cartform .itembox .itemtitle span{
        width: 100%;
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }
    .leftbox .cartform .itembox div.itemimg{
        width: 100%;
        padding: 0;
        max-width: 300px;
    }
}